body{background-color: #cccccc}


h1{
  text: center;
  text-decoration: underline;
  font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

}
h2{
  text: center;
  text-decoration: underline;
  font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

}
p{
  text-align: center;
}
div{
  margin-top: 20px;
  border:5px solid #000;
  padding: 10px;
}
label{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #a2a7ad;
    font-size: .722rem;
}
input{
    padding: 10px !important;
    background: #f7f7f7;
    border: 1px solid #ccc;
    resize: none;
    margin: 0 !important;
    transition: all .3s ease-in-out;
    width: 100% !important;
    font-size: 16px;
}
input[type="password"] {
  background-color: red;
}
section{
  padding: 5px;
  border: 1px solid #FFF;
  margin-top: 20px;
}