body {
    background-color:#a6b5ff;
    font-family: Arial;
}

.container {
    display:block;
    background-color: white;
    margin-bottom:20px;
    padding: 10px 10px 10px 10px;
    border: 1px solid grey;
    /* padding-left: 10px; */
    margin: 20px 10px 10px 10px;
    margin-left: 20px;
    position:relative;
    top:100px;

}

.container input {
    display:block;
    margin-bottom:20px;
}

.container input:hover {
    border:2px solid black;
    background-color:#a6b5ff;
}

.container p:hover {
    border:2px solid black;
    background-color:#a6b5ff;
}


.container textarea {
    display:block;
    margin-bottom:10px;
    border: 4px solid grey;
}

.container label {
    display:block;
    margin-bottom:5px;
    text-decoration: underline;
    text-align: left;

}

.container select  {
    display:block;
    margin-bottom:10px;
}

button  {
    display:block;
    margin-top:50px;
    color: green;
    font-weight: bold;
    border-color: blue;
    border: dotted 1px;
}

.blue  {
    color: blue;
}

#italic  {
    font-style: italic;
}


nav  {
    background-color: grey;
    margin-bottom: 10px;
    position: sticky;
    top:10px;
    left:10px;
    right:10px;
    text-color:white;
    z-index: 2;

}

nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

ul {
    padding-inline-start: 0px;
}

ul>li:last-child {
    float:right;
}